
.mainContainer{
  padding: 0px 20px;
  height: 100vh;
}
.navbarContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
}

.buttonNavBarContainer{
  background-color: transparent;
  border: none;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  display: flex;
}